<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>HideCoin Wallet</title>
<link href="/assets/bootstrap.min.css" rel="stylesheet" />
<script type="text/javascript" src="/assets/jquery.min.js"></script>
<script type="text/javascript" src="/assets/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/jquery.noty.packaged.min.js"></script>
<script type="text/javascript">
function doNotify(type, message) {
  var n = noty({
    text        : message,
    type        : type,
    dismissQueue: true,
    timeout     : 5000,
    closeWith   : ['click'],
    layout      : 'topCenter',
    theme       : 'defaultTheme',
    maxVisible  : 5
  });
}
</script>
</head>
<body>
<div class="container" style="margin-top: 100px">
  <div class="row">
    <div class="col-xs-12 text-center">
      <b>%LOGIN%</b>
      <form class="form-inline" role="form" method="post">
        <div class="form-group">
          <label class="sr-only" for="password">Password</label>
          <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-success">Open or create wallet</button>
      </form>
    </div>
  </div>
</div>

<script>
$('#password').focus();
</script>
</body>
</html>