<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>HideCoin Wallet</title>
<link href="/assets/bootstrap.min.css" rel="stylesheet" />
<script type="text/javascript" src="/assets/jquery.min.js"></script>
<script type="text/javascript" src="/assets/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/jquery.noty.packaged.min.js"></script>
<script type="text/javascript">
function doNotify(type, message) {
  var n = noty({
    text        : message,
    type        : type,
    dismissQueue: true,
    timeout     : 5000,
    closeWith   : ['click'],
    layout      : 'topCenter',
    theme       : 'defaultTheme',
    maxVisible  : 5
  });
}
</script>
</head>
<body>
<div class="container" style="margin-top: 100px">
  <div class="row">
    <div class="col-sm-offset-3 col-sm-6 text-center">
      <div class="panel panel-warning">
        <div class="panel-body">
          <b>Blockchain is synchronizing...</b>
          <div class="progress progress-striped active">
            <div class="progress-bar"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
window.setTimeout(function() {
  location.reload();
}, 5000);
</script>
</body>
</html>